.frmt {}
    .frmt {font-size:12px; line-height:15px;}
    .frmt p {margin-bottom:1em}
    .frmt img {}
        .frmt img.alignleft {float:left;}
        .frmt img.alignright {float:right;}
    .frmt ul, .frtm ol {margin-bottom:1em; list-style-position:inside;}
    .frmt ul {list-style-type:circle;}
        .frmt ul li {list-style-type:circle; list-style-position:inside;}
    .frmt b, .frmt strong {font-weight:bold;}
    .frmt i, .frmt em {font-style:italic;}
    .frmt u {text-decoration:underline;}
    .frmt sub {vertical-align:sub; font-size:smaller;}
    .frmt sup {vertical-align:super; font-size:smaller;}
    .frmt pre {padding:15px; white-space:pre; white-space:pre-wrap; white-space:pre-line; word-wrap:break-word;}
    .frmt small {font-size:85%;}
    .frmt table {}
    /*TODO:make styles for tables and quotes*/
    td, td img {vertical-align:top;}
    pre, code, kbd, samp {font-family: monospace, sans-serif;}
    .frmt h1 {font-size:200%; line-height:120%; margin-bottom:2em;}
    .frmt h2 {font-size:160%; line-height:120%; margin-bottom:1em;}
    .frmt h3 {font-size:120%; line-height:120%; margin-bottom:.5em;}
    .frmt h4 {font-size:100%; line-height:120%; font-weight:bold;}
    .frmt h5 {text-decoration:underline;}
    .frmt h6 {font-style:italic;}